@use './partials/variables' as *;
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $main_font;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.mt-100 {
    margin-top: 100px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-200 {
    margin-top: 200px;
}

.mt-270 {
    margin-top: 270px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-200 {
    margin-bottom: 200px;
}

.p-100 {
    padding: 100px;
}

.p-150 {
    padding: 150px;
}